@using SmartGrocery.WebUI.Models

@model IEnumerable<ProductBaseViewModel>

<div class="row">
    <table class="table table-bordered table-hover" style="background: whitesmoke;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Manufacturing Date</th>
                <th>Expiry Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var product in Model)
                {
                    <tr>
                        <td>@product.ProductNumber</td>
                        <td>@product.Name</td>
                        <td>@product.Quantity</td>
                        <td>@product.Price</td>
                        <td>@product.ManufacturingDate</td>
                        <td>@product.ExpiryDate</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
