@using SmartGrocery.WebUI.Models.Transactions
@using PagedList.Mvc;

@model PagedList.IPagedList<TransactionViewModel>

<div class="section-container">
    <h3>Transaction Summary</h3>
	<a class="btn btn-primary" href="/Transaction/Create">Create</a>
	<div class="row form-group">
		<table class="table table-bordered table-hover table-dark" style="background: whitesmoke">
			<thead class="thead-dark">
				<tr>
					<th>Transaction Number</th>
					<th>Amount</th>
					<th>Created By</th>
					<th>Created At</th>
					<th>Last Updated By</th>
					<th>Last Updated At</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Any())
				{
					foreach (var transaction in Model)
					{
						<tr>
							<td><a href="/Transaction/Details/@transaction.TransactionId" style="color:red">@transaction.TransactionNumber</a></td>
							<td>@transaction.Amount</td>
							<td>@transaction.CreatedBy</td>
							<td>@transaction.CreatedAt</td>
							<td>@transaction.LastUpdatedBy</td>
							<td>@transaction.LastUpdatedAt</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="6">There are no result</td>
					</tr>
				}
			</tbody>
		</table>
		Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

		@Html.PagedListPager(Model, page => Url.Action("Summary", new { page }))
</div>
</div>

@Scripts.Render("~/bundles/transactions")
<script type="text/javascript">
	initilize();
</script>