@using SmartGrocery.WebUI.Models.Customer

@model CreateCustomerViewModel

<div class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        @using (Ajax.BeginForm("Edit", "Customer", null, new AjaxOptions()
        {
            HttpMethod = "PUT",
            OnSuccess = "onSuccessEditCustomer",
            OnFailure = "onFailueEditCustomer",
        }, new { @class = "modal-content form-horizontal" }))
        {
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-11">
                        <h4 class="modal-title">Edit Customer</h4>
                    </div>
                    <div class="col-md-1">
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row form-group">
                        <div class="col-md-3 required">
                            @Html.LabelFor(m => m.CustomerFirstName, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.CustomerFirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CustomerFirstName)
                        </div>
                        <div class="col-md-3 col-md-offset-1 required">
                            @Html.LabelFor(m => m.CustomerLastName, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.CustomerLastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CustomerLastName)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 required">
                            @Html.LabelFor(m => m.DateOfBirth, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DateOfBirth)
                        </div>
                        <div class="col-md-3 col-md-offset-1 required">
                            @Html.LabelFor(m => m.Age, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Age)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.Points, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Points, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3 col-md-offset-1 required">
                            @Html.LabelFor(m => m.CustomerId, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CustomerId)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            @Html.LabelFor(m => m.IdNumber, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.IdNumber, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Confirm</button>
                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        }
    </div>
</div>