@using SmartGrocery.WebUI.Models.Customer
@using PagedList.Mvc

@model PagedList.IPagedList<CustomerViewModel>

<div class="section-container">
	<div class="row" style="margin-bottom:10px;">
		<h3>Customer Summary</h3>
	</div>
	<div class="row">
		@using (Html.BeginForm("Summary", "Customer", FormMethod.Get))
		{
			<div class="row" style="padding-bottom:5px">
				<div class="col-md-3">
					@Html.TextBox("SearchTerm", string.Empty, new { @class = "form-control", @style = "width:500px" })
				</div>
				<div class="col-md-3">
					<input class="btn btn-success" type="submit" id="search-button" value="Search" />
				</div>
			</div>
		}
	</div>

	<div class="row" style="margin-bottom:10px;">
		<button class="btn btn-primary" id="create-customer">Create</button>
	</div>

	<div class="row form-group">
		<table class="table tale-bordered table-hover" style="background: whitesmoke">
			<thead class="thead-dark">
				<tr>
					<th>Customer Number</th>
					<th style="text-align:center">Customer Name</th>
					<th style="text-align:center">Date of Birth</th>
					<th style="text-align:center">Age</th>
					<th style="text-align:center">Points</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Any())
				{
					foreach (var customer in Model)
					{
						<tr>
							<td><a href="/Customer/Details?customerNumber=@customer.CustomerId" style="color:red">@customer.CustomerId</a></td>
							<td style="text-align:center">@customer.CustomerFullName</td>
							<td style="text-align:center">@customer.DateOfBirth.ToString("dd-MMM-yyyy")</td>
							<td style="text-align:center">@customer.Age</td>
							<td style="text-align:center">@customer.Points</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td rowspan="5">There are no result</td>
					</tr>
				}
			</tbody>
		</table>
		Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

		@Html.PagedListPager(Model, page => Url.Action("Summary", new { page }))
	</div>
</div>

@Scripts.Render("~/bundles/customers")
<script type="text/javascript">
	initilize();
</script>