@using SmartGrocery.WebUI.Models.Customer
@using PagedList.Mvc

@model PagedList.IPagedList<CustomerViewModel>

<div class="section-container">
	<h4>Customer Page</h4>
	@*<div class="row" style="padding-bottom:5px">
		<div class="col-md-3">
			@Html.TextBox("SearchTerm", string.Empty, new { @class = "form-control", @style = "width:500px" })
		</div>
		<div class="col-md-3">
			<button class="btn btn-success" id="search-button">Search</button>
		</div>
	</div>*@

	@using (Html.BeginForm("Summary", "Customer", FormMethod.Get))
	{
		<div class="row" style="padding-bottom:5px">
			<div class="col-md-3">
				@Html.TextBox("SearchTerm", string.Empty, new { @class = "form-control", @style = "width:500px" })
			</div>
			<div class="col-md-3">
				<input class="btn btn-success" type="submit" id="search-button" value= "Search"/>
			</div>
		</div>
	}

	<div class="row">
		<div class="col-md-12  form-group">
			<button class="btn btn-success col-md-1" id="create-customer">Create</button>
		</div>
	</div>

	<div class="row form-group">
		<table class="table tale-bordered table-hover" style="background: whitesmoke">
			<thead class="thead-dark">
				<tr>
					<th>Customer Number</th>
					<th>Customer Name</th>
					<th>Date of Birth</th>
					<th>Age</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Any())
				{
					foreach (var customer in Model)
					{
						<tr>
							<td><a href="/Customer/Details?customerNumber=@customer.CustomerId" style="color:red">@customer.CustomerId</a></td>
							<td>@customer.CustomerFullName</td>
							<td>@customer.DateOfBirth</td>
							<td>@customer.Age</td>
							<td>@customer.Points</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td rowspan="5">There are no result</td>
					</tr>
				}
			</tbody>
		</table>
		Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

		@Html.PagedListPager(Model, page => Url.Action("Summary", new { page }))
	</div>
</div>

@Scripts.Render("~/bundles/customers")
<script type="text/javascript">
	initilize();
</script>